.box {
  border: 2px dashed rgb(255, 0, 0);
  /* text-align: center; */
  /* color: white; */
  box-sizing: border-box;
  /* background-color: green; */
}

#gen-container {
  display: flex;
}

/*** SIDEBAR ***/
#sidebar {
  min-width: 100px;
  height: calc(100vh - 72px);

  border: 1px dashed red;
  background-color: #051e34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  display: none;
}

#sidebar .icons-cont {
  /* border: 1px dashed rgb(200, 255, 0); */
  color: white;
}

#sidebar .icons-cont div:first-child {
  margin-top: 25px;
}
#sidebar .icons-cont div {
  margin-bottom: 15px;
}

#sidebar .gear-icon-cont {
  border: 1px dashed rgb(200, 255, 0);
  margin-bottom: 15px;
  color: white;
}

/*** HIDEBAR ***/
#hidebar {
  min-width: 50px;
  height: calc(100vh - 76px);

  border: 1px dashed red;
  background-color: #051e34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* display: none; */
}
#hidebar .icons-cont {
  /* border: 1px dashed rgb(200, 255, 0); */
}

#hidebar .icons-cont div:first-child {
  margin-top: 25px;
}
#hidebar .icons-cont div {
  margin-bottom: 15px;
}

#hidebar .gear-icon-cont {
  border: 1px dashed rgb(200, 255, 0);
  margin-bottom: 15px;
}

/*** MAIN-CONTAINER ***/
#main-container {
  flex-grow: 1;
}

/*** MEDIA QUERIS ***/
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  #hidebar {
    display: none;
  }
  #sidebar {
    display: flex;
  }
}

/*** HARD TRY PER LA COMPARSA DEL MENù ***/

.dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: -145px !important;
}
