.box {
  border: 2px dashed rgb(255, 0, 0);
  /* text-align: center; */
  /* color: white; */
  box-sizing: border-box;
  /* background-color: green; */
}

#gen-container {
  display: flex;
}

/*** SIDEBAR ***/
#sidebar {
  min-width: 100px;
  height: calc(100vh - 72px);

  /* border: 1px dashed red; */
  background-color: #051e34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  display: none;
  background-image: url(./img/sidebar-bg.png);
}

#sidebar .icons-cont {
  /* border: 1px dashed rgb(200, 255, 0); */
  color: white;
}

#sidebar .icons-cont div:first-child {
  margin-top: 25px;
}
#sidebar .icons-cont div {
  margin-bottom: 15px;
}

#sidebar .gear-icon-cont {
  /* border: 1px dashed rgb(200, 255, 0); */
  margin-bottom: 15px;
  color: white;
}

/*** HIDEBAR ***/
#hidebar {
  min-width: 50px;
  height: calc(100vh - 76px);

  /* border: 1px dashed red; */
  background-color: #051e34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./img/sidebar-bg.png);

  /* display: none; */
}

#hidebar .icons-cont div:first-child {
  margin-top: 25px;
}
#hidebar .icons-cont div {
  margin-bottom: 15px;
}

#hidebar .gear-icon-cont {
  /* border: 1px dashed rgb(200, 255, 0); */
  margin-bottom: 15px;
}

/*** MAIN-CONTAINER ***/
#main-container {
  flex-grow: 1;
}

#booleancont {
  width: 100%;
}
.accordion-item .accordion-header {
  font-size: 10px !important;
}

/***Boolean and Badges ***/
#badge {
  background-color: #165bba;
  margin: 0 5px;
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 15px;
}

/*** OFFCANVAS ***/

.list-group .list-group-item {
  font-size: 10px;
}

#codeslash {
  background-color: #f26551;
  padding: 5px;
  border-radius: 50%;
}
/*** MEDIA QUERIS ***/
@media screen and (min-width: 200px) {
  .offcanvas.offcanvas-end {
    min-width: 80%;
  }

  #main-container {
    width: calc(100% - 50px);
    height: calc(100vh - 76px);
    overflow-y: auto;
  }
}

@media screen and (min-width: 576px) {
  .offcanvas.offcanvas-end {
    min-width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .offcanvas.offcanvas-end {
    min-width: 40%;
  }
}

@media screen and (min-width: 992px) {
  #hidebar {
    display: none;
  }
  #sidebar {
    display: flex;
  }

  .offcanvas.offcanvas-end {
    min-width: 50%;
  }
  #main-container {
    width: calc(100% - 100px);
    height: calc(100vh - 76px);
    overflow-y: auto;
  }
}

/*** HARD TRY PER LA COMPARSA DEL MENù ***/

.dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: -145px !important;
}
